<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean id="bankService" class="ua.eshepelyuk.blog.springtest.ex2.BankServiceImpl"/>

    <bean id="userOrderCountService" class="ua.eshepelyuk.blog.springtest.ex2.UserOrderCountServiceImpl">
        <constructor-arg name="counterRepo">
            <util:map id="emails">
                <entry key="111" value="5"/>
                <entry key="222" value="0"/>
            </util:map>
        </constructor-arg>
    </bean>

    <!--<cache:annotation-driven />-->

    <!--<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">-->
        <!--<property name="caches">-->
            <!--<set>-->
                <!--<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">-->
                    <!--<property name="name" value="userOrderCount"/>-->
                <!--</bean>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->
</beans>